@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400&family=Shadows+Into+Light&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font-family: "Caveat", sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: #fefefe;
}

blockquote {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5vw;
	min-height: 300vh;
	padding-top: 10vw;
	padding-bottom: 10vw;
}

cite {
	margin-top: auto;
	font-size: clamp(1rem, 4vw, 1.25rem);
}

img {
	display: block;
	max-width: 100%;
}

.polaroid {
	width: 75%;
	max-width: 400px;
	position: sticky;
	top: 10vw;
	box-shadow: 0 0.5vw 1vw 0 rgba(#000, 0.1);
	&:nth-child(1) {
		transform: rotate(4deg) translatex(2vw);
	}

	&:nth-child(2) {
		transform: rotate(-6deg) translatex(-2vw);
	}

	&:nth-child(3) {
		transform: rotate(8deg) translatex(4vw);
	}
}

.card {
	aspect-ratio: 3 / 2;
	border: 2px solid #444;
	background-color: #fff;
	position: relative;
	transition: 0.15s ease;
	padding: 5% 5% 5% 5%;
	font-size: clamp(1.25rem, 4vw, 1.5rem);
	p {
		margin-top: 5%;
		text-align: center;
	}
}

.image {
	width: 100%;
	border: 2px solid #444;
	background-color: #eee;
	position: relative;
	img {
		aspect-ratio: 1 / 1;
		object-fit: cover;
		filter: grayscale(100%);
	}
}
